/* Anything that applies to only a specific page, not a reusable, modular element add here. Before you push your project live to your hosting you will merge the two files together, but the purpose of separating it now is to make it really clear to you how much of your code is reusable and how much of it is specific to certain elements or pages */

/* Home Page  - image link section */
/*background image*/


/* About Page - Image links Sidebar */
.side-images {
  height: auto;
  width: auto;
  /*margin: 0.5em 0;*/
}

.hover-text {
    position: absolute;
    top: 185px;
    left: 0;
    margin-bottom: 0;
    background-color: rgba(0, 144, 119, .5);
    text-align: center;
    color: white;
    width: 100%;
    transition: 1s;
    padding: 2% 0;
}

a:hover .hover-text {

background-color: rgba(255, 255, 255, .5);
color: #009077;
}

/* Projects Page */

.projects {
  font-style: bold;
  text-align: center;
  font-size: 14px;
}

/*Awards Carousel*/
.image-border img{
   border:1px solid #e8e8e8;
}

/*Contact Page*/
.contact-font {
  color: #009077;
  text-align: right;
  font-size: 10px;
  font-weight: bold;
}

.contact-logo{
  width: 10vw;
}
