---
layout: default
title: Contaminated Land Assessments and Management Plans
---

<section class="grid">
  <div class="col-12_sm-12">
  <H1>Contaminated Land Assessments and Management Plans</h1>
  </div>
      <div class="col-8_sm-12 ">
        <p>The McKinnon team are industry recognised experts in soil, groundwater and vapour remediation. We understand that every project site is unique, with its own set of challenges and constraints. Our focus is to provide service which is second to none in terms of practical skills, technical knowledge, innovation and willingness to put in the extra effort to help make your project a success.</p>

        <p>We have been providing safety focussed and expert contaminated land earthmoving and wastewater treatment services for over 25 years. Projects types have included the decommissioning and remediation of a large number retail service stations and petroleum depots, acid sulphate soil and groundwater remediation, underground and aboveground tank removals, environmental test pitting and sampling, industrial liquid waste management, groundwater remediation at airports and surface water treatment on infrastructure projects.</p>

        <p>McKinnon has a wide range of specialist, adaptable and in-house designed remediation equipment, available for hire on a wet hire or dry hire basis. </p>

        <p>Our remediation equipment includes:-</p>
          <ul>
            <li>Pumping and extraction equipment, including pontoon pumps, vacuum pumps, air operated pumps, submersible pumps, skimmers, spears, hosing, fittings, manifolds and controls</li>
            <li>Separators and settlement tanks</li>
            <li>Media vessels and filters</li>
            <li>Air sparging units and air strippers</li>
            <li>Chemical dosing units</li>
            <li>Wet and chemical oxidation systems</li>
            <li>Multi-Phase Extraction (MPE) systems</li>
            <li>Air Sparge / Soil Vapour Extraction (AS/SVE) systems</li>
            <li>In-Situ Chemical Oxidation (ISCO) systems</li>
            <li>Pump and Treat (P&amp;T) systems</li>
          </ul>
        <p>Our qualified and certified remediation experts work closely with our clients to ensure we understand project drivers, scopes, specifications and remediation goals. Furthermore, we are able to provide technical advice and documentation services (drafting, hazard assessments, management plans, etc.) as appropriate. Our in-house bench testing laboratory enables the design and completion of remediation feasibility and treatability trials.</p>

        <p>McKinnon holds the relevant licences, qualifications, experience, management systems and insurances to seamlessly integrate into your project team and provide value for money environmental and remediation contracting services.</p>

  </div>
  <div class="col-4_sm-12 ">

      <!-- Sidebar -->

      {% include sidebar.html %}
  </div>

  </section>
  <!-- Awards & Accreditations Section -->
<div>
{% include carousel.html %}
</div>
