---
layout: default
title: Contaminated Land Assessments and Management Plans
---

<section class="grid">
  <div class="col-12_sm-12">
  <H1>Contaminated Land Assessments and Management Plans</h1>
  </div>
      <div class="col-8_sm-12 ">
  <p>Our extensive knowledge of contaminated land assessment regulations, guidelines, protocols and processes ensures that the project scopes our personnel are engaged to complete are cost effectively and thoroughly undertaken to the satisfaction of our clients.</p>

  <p>McKinnon understands the importance of quality systems in contaminated land assessment to ensure the integrity and defensibility of the data obtained.  Our personnel have experience assessing a diverse range of facilities and Chemicals of Potential Concern (COPCs) and are able to work as part of a project team or independently and in accordance with the Environmental Protection Act 1994 (including Suitably Qualified Person (SQP) requirements).</p>

  <p>For convenience and cost efficiency we hold an extensive range of site assessment equipment and consumables including Photo-ionisation Detectors (PIDs), gas detectors, soil vapour probes, soil vapour samplers, soil samplers, soil test kits, surface water samplers, colorimeters, water level loggers, oil-water interface meters, water quality meters and loggers, peristaltic pumps, total fluids / down well recovery pumps, survey equipment, surfactants, odour suppressants, carbon and filter media.</p>

  <p>We offer professional report writing and drafting services to adequately document contaminated land assessments. Furthermore, we are proficient in the production of management plans relating to environmentally relevant activities, as required by regulatory licences conditions and general duties of care. Personnel have diverse experience in preparing management plans including Site Based Management Plans (SBMP), Environmental Management Plans (EMP), Irrigation Management Plans (IMP), Work Health and Safety (WHS) Management Plans and Construction Environmental Management Plans (CEMP).</p>

  <p>In some situations it may be impractical to physical remove tanks and therefore necessary and to abandon tanks in-situ. McKinnon is experienced at applying strict protocols to abandon tanks in-situ, including completing the required documentation.</p>

  </div>
  <div class="col-4_sm-12 ">

      <!-- Sidebar -->

      {% include sidebar.html %}
  </div>

  </section>
  <!-- Awards & Accreditations Section -->
<div>
{% include carousel.html %}
</div>
