---
layout: default
title: McKinnons
meta-description: Environmental &amp; Earthmoving Contractors.
featured-image_path: /uploads/pr-photos-6472.jpg
---

  <!-- FIRST BANNER SECTION ---->
  <!-- <section id="intro-banner" class="banner featured centered grid-middle"> -->
    <div class="owl-carousel owl-theme slider">
        <div class="item slider1 slider-font"><
            <h3>Disconnection, removal &amp; decommissioning of fuel systems &amp; USTs, ASTs.</h3></div>
        <div class="item slider2 slider-font">
            <h3>Undertaking Acid Sulphate Soil remediation.</h3></div>
        <div class="item slider3 slider-font">
            <h3>Wastewater treatment equipment being used to treat dewatering effluent.</h3>
        </div>
    </div>
  <!-- </section> -->


<!-- Image link section ---->

<section class="no-padding centered image-link">
  <div class="grid-equalHeight grid-middle featured">
    <div class="col-6_sm-12 box-img projects-bg">
          <h6> Our Recent Projects </h6>
          <a class="button-inverted" href="projects.html"> MORE </a>
      <!-- ADD BACKGROUND IMAGE -->
    </div>
      <div class="col-6_sm-12 box-img careers-bg">
        <h6> Careers </h6>
        <a class="button-inverted" href="careers.html"> More </a>
        <!-- ADD BACKGROUND IMAGE -->
    </div>
  </div> <!-- end grid -->

</section>
<!-- text section home -->
  <section class="featured centered">
    <h3> Welcome to McKinnon's </h3>

    {% if page.hot-weather == true %}

        <h1> HOT WEATHER </h1>

        {% endif %}

    <p> McKinnon provides experienced, reliable and cost effective earthworks and environmental contracting services to industry. We are experts in Underground Storage Tank (UST) removal, demolition, environmental earthworks and groundwater and vapour remediation.</p>

    <p>At McKinnon, we have an extensive range of remediation, wastewater treatment and earthworks equipment available for hire. We offer trained, competent and qualified technical and professional personnel to achieve your project goals.</p>

    <p>We have over 25 years in operation and robust Work Health and Safety (WHS) and Quality management systems in place.</p>

    <p>Give McKinnon a call to discuss your project requirements, obtain advice on practical solutions and obtain fee estimates.</p>

  </section>
  <!-- Awards & Accreditations Section -->

{% include carousel.html %}

</section>
