---
layout: default
title: 'Tank Removal and Disposal by McKinnon Environmental & Earthmoving'
meta-description: 'McKinnon personnel are experts in tank removal &amp; disposal. The types of the storage tanks (both USTs &amp; ASTs) decommissioned &amp; removed by McKinnon includes:'
meta-keywords: 'Tank removal, tank disposal, UST, AST, storage tank removal, Unleaded, Diesel, Jet, Kerosene, Waste Oil, Solvents, Wastewater treatment plant process tanks, Groundwater remediation'
---

<section class="grid">
<div class="col-12_sm-12">
  <H1 class="page-title"> Tank Removal &amp; Disposal </h1>
  </div>
      <div class="col-8_sm-12 ">
  <p>McKinnon personnel are experts in tank removal and disposal and have extensive and accredited work health and safety systems in place. Our detailed knowledge and experience in applying the related standards, guidelines and regulations enables us to provide cost efficient, safe and compliant services to industry.</p>

  <p>The types of the storage tanks (both USTs and ASTs) decommissioned and removed by McKinnon includes:</p>
    <ul>
      <li>Unleaded petrol</li>
      <li>Diesel</li>
      <li>Jet</li>
      <li>Kerosene</li>
      <li>LPG</li>
      <li>Waste oil</li>
      <li>Solvents</li>
      <li>Trip Interceptor Traps</li>
      <li>Leaded petrol</li>
      <li>Stormwater separator tanks</li>
      <li>Wastewater treatment plant process tanks</li>
      <li>Groundwater remediation system treatment tanks</li>
    </ul>
  <p>Our comprehensive tank removal and disposal experience includes:</p>
    <ul>
      <li>Gas detection and work permitting</li>
      <li>Hazardous areas management</li>
      <li>Services isolation and disconnection</li>
      <li>Removal and disposal of tank liquids and sludge</li>
      <li>Surface removal and overburden excavation</li>
      <li>Excavation, tankpit dewatering and tank removal</li>
      <li>Off-site transport of tanks by appropriately licenced trucks</li>
      <li>Tank destruction and tank destruction certificates completion</li>
      <li>Adjacent buildings structural assessments and monitoring</li>
      <li>Excavated soil contamination characterisation </li>
      <li>On-site soil remediation or off-site soil disposal</li>
      <li>Off-site soil disposal permit management</li>
      <li>Excavation field screening, analytical testing and validation reporting</li>
    </ul>
  <p>In some situations it may be impractical to physical remove tanks and therefore necessary and to abandon tanks in-situ. McKinnon is experienced at applying strict protocols to abandon tanks in-situ, including completing the required documentation.</p>

  </div>
  <div class="col-4_sm-12 ">

      <!-- Sidebar -->

      {% include sidebar.html %}
  </div>

  </section>
  <!-- Awards & Accreditations Section -->
<div>
{% include carousel.html %}
</div>
