
<section class="centered" id="register">
  <h3> Awards and Accreditations </h3>

<div class="owl-carousel owl-theme image-border awards">
  <div class="item"><img src="/images/awards-carousel/avetta-logo.png" alt="McKinnon Avetta Accreditation"></div>
  <div class="item"><img src="/images/awards-carousel/gas-test-atmospheres.jpg" alt="McKinnon Gas Test Accreditation"></div>
  <div class="item"><img src="/images/awards-carousel/isn-networld.jpg" alt="McKinnon Networld Accreditation"></div>
  <div class="item"><img src="/images/awards-carousel/metered-standpipes.jpg" alt="McKinnon Metered Standpipes Accreditation"></div>
  <div class="item"><img src="/images/awards-carousel/wpcg-logo.png" alt="McKinnon WPCG Accreditation"></div>

</div>
</section>
