<footer>

  <!-- Column 1 -->
<div  class="grid mob-hide">
  <div class="col-6_sm-12">
    <h6>McKinnon</h6>
    <p> McKinnon Earthmoving (QLD) Pty Ltd / McKinnon Environmental Pty Ltd (McKinnon) has grown and led the way in providing innovative and comprehensive earthmoving and environmental contracting services since 1991. </p>
    <nav>
      <a href="/index"> Home </a>
      <a href="/about"> About </a>
      <a href="/services"> Services </a>
      <a href="/projects"> Projects </a>
      <a href="/careers"> Careers </a>
      <a href="/contact"> Contact Us </a>
      <a href="tell:+61413446792"> +61 413 446 792 </a>
    </nav>
  </div>

  <!-- Column 3 -->
  <div class="col-6_sm-12 right">
    <img class="logo" src="/images/mck-logo-transparent.png" alt="McKinnon">
  </div>
</div>
  <!-- mobile footer menu -->
<div class="mob-show">
  <nav class="footer">
    <a href="/index"> Home </a>
    <a href="/about"> About </a>
    <a href="/services"> Services </a>
    <a href="/contact"> Contact Us </a>
    <a href="tell:+61413446792"> +61 413 446 792 </a>
  </nav>
</div>
</footer>
