<header class="grid-middle">
  <div class="col-3_sm-12 header-margin">
    <img class="logo" src="/images/mck-logo-transparent.png" alt="Mckinnon Environmental &amp; Earthmoving">
  </div>
  <div class="col-9_sm-12 mob-hide">
    <nav class="right">
      <a href="/"> Home </a>
      <a href="/about"> About </a>
      <a href="/services"> Services </a>
      <a href="/projects"> Projects </a>
      <a href="/photos"> Photos </a>
      <a href="/contact"> Contact Us </a>
    </nav>
  </div>
</header>
